*{
    font-family: Arial;
}
body{
    margin: 0;
    padding: 0;
    padding-bottom: 1000PX;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;

}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, 
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color:#72727272;
}
nav .active a,
nav a:hover{
    background-color: #39aae1;
    color:white;
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url('../imagem/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #5555;
    margin:0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #5555;
    margin:0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3{
    flex:1;
    color: white;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    display: flex;
    flex-direction: column;
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;
    width: 100%;
    height: 20px;

}
.banner_desc{
    font-size: 12px;
    margin-top:20px;
    margin-bottom: 20px;
}
.banner_options a{ 
    display: inline-block;
   border: 1px solid white;
   padding: 5px;
   color:  white;
   font-size: 13px;
   text-decoration: none; 
}
.div1{
    display: flex;
    justify-content:space-between ;
    
    
}
.div2{
    display: flex;
    justify-content:space-between ;
    
    
}
.div3{
    display: flex;
    align-items: flex-end;
    justify-content:space-between ;
     
    
}
.linha{
    border-bottom: 1px solid #aaa7a7;

}
#geral{
    display: flex;
    justify-content: center;
}
#geral section {
    flex:2;
}
#geral aside {
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    
    color:black;
    font-size:21px;
    font-weight: bold;

}
.widget_title_bar{
    width:50px;
    height:2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.widget_body1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
#dep{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.dep1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    background-color: #36a9e1;
}
.widget_body2{
    display:flex;
    flex-direction: column;
    
    color: #29282877;
}
.texto{
   font-size: 12px;
}
.contato a{
    text-decoration: underline;
    
}
strong{
    font-weight: bold;
    color: black;
}
.contato{
    display: flex;
    font-weight: bold;
    
}
#borde{
    width: 100%;
    height:1px;
    background-color: #7777;
}














