*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/* .teste{

    margin: auto;
    margin-top: 100px;
    background-color: rgb(253, 247, 247);
    border: 1px solid black;
    word-wrap: break-word;
    width: 150px;
    height: 150px;
    transition: all 1s linear;
} */
/* .teste:hover{
    width: 300px;
    border-radius: 75px;
    background-color: aqua;
    box-shadow: 0px 0px 30px black;
} */


/* @keyframes moveAnimation {
    0% {background-color: aqua; top: 0; left: 0;}
    25% {background-color: #2704ec; top: 0px; left: 200px;}
    50% {background-color: blueviolet; top: 200px; left: 200px;}
    75% {background-color: black; top:200px; left:0;}
    100% {background-color: #7d69eb; top: 0; left:0;}
  }
  
  .animated-div {
    width: 150px;
    height: 150px;
    position: absolute;
    animation-name: moveAnimation;
    animation-duration: 4s;
  } */

    
