* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Arial, helvetica , sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: black;
    color: white;
}
.header {
    max-width:1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.logoimg img {
    width:80px;   
    height: 80px;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;

}
.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;

}
.menu li a:hover,
.menu .active a  {
    border-bottom: 5px solid #b28756;
    color:#ccc;
}

.button {
    display: inline-block;
    background-color:#b28756; 
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
}



.banner {
    background-color:#333;
    height: calc( 100vh - 100px);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width:1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    height: 100%;
    color: white;

}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .slide-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top:-50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size: 20px;
}
.default .section-desc {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
    
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: #f7f7f7;
}
.default.ligth .section-title,
.deufault.light .section-body {
    color: black;
}
.default.dark {
    background-color: black;
}
.default.dark .section-title,
.default.dark .section-body {
    color: white;
}





/* CSS DE AREAS ESPECÍFICAS */
.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    font-size:14px;
    line-height: 25px;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
    
}
.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333 ;
}
.section-services {
    display: flex;
}
.section-service {
    flex: 1;
    text-align: center;
    padding: 15px;
    border-right: 1px solid #333;
  
}
.section-service:first-child {
    border-left: 1px solid #333;
}
.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;

}
.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    border:1px solid #ccc;
    background-color:#eee;
    border-radius:30px;
    display: inline-block;
    padding: 0px 20px;
   
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;

}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
   border-left: 1px solid #ccc;
   color: #555;
   border-bottom: 3px solid #eee;
   cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #b28756;
}
.section-projects--filters li:first-child {
    border-left: 0;
} 

.sections--projects--photos {
    width:100vw;
    max-width:1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.sections-projects--photo {
    width: 280px;

}
.sections-projects--photoarea {
    margin: 10px;
    width: 260px;
    height:160px;
}
.sections-projects--photoarea img {
    width: inherit;
    height: inherit;
}
.sections-projects--photoinfo {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items:center;
    color: white;
    flex-direction: column;

}
.sections-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.sections-projects--photoarea:hover .sections-projects--photoinfo {
    display: flex;
}


.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px;
}
.section-team--area {
    background-color: rgba(0,0,0,0.8);
    padding-top:50px;
    padding-bottom:50px;
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders {
    width:1000vw;
    height: 100%;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: white;
    min-height: 300px;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    height: 100%;
    color: #000;
    padding: 30px;
}

.section-team--area .slide-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team--area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team--area .pointer.active {
    background-color: #b28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
    font-size: 17px;
}
.section-team--role {
    font-size: 14px;
    margin-top: 5px;
    color: #999;
}
.section-team--social {
    display: flex;
    margin-top: 20px;
    
   
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;

}
.section-team--social a:hover {
    background-color: #b28756;
}

.happy--area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-happy--name {
    padding: 5px;
    font-weight: 600;
    margin-top: 30px;
    font-size: 17px;
    
}
.section-happy--role {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #999;
}
.section-p {
    display: flex;
    justify-content: center;
    width: 550px;
    text-align: center;
    font-size: 12px;
    color: #b3b3b3;
    font-weight: 600;
    padding-top: 20px;
}
.happy--area .slide-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.happy--area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.happy--area .pointer.active {
    background-color: #b28756;
}

.happy--bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.bar--img {
    display: inline-flex;
    justify-content: center;
    width: 100px;
    margin: 30px;
}
#bar--conteudo {
   border-top: 2px solid #d1d0d0;
   border-bottom: 2px solid #d1d0d0;
}
#geral--bar {
    display: flex;
    background-color: #eeebeb;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;

}
.default.light.persona {
    background-color:#eeebeb ;
}
#geral--bar .slide--bar{
    display: flex;  
    max-width: 1140px; 
}
#geral--bar .slidearea--bar {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    width: 250px;
    height:400px ;
    background-color: #fff;
    margin: 10px;
    
}

.section-bar--name {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
}
.dec--bar .section-bar--role {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}
.section-bar--mes {
    font-size: 15px;
    color: #333;
 
}
.dec--bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 250px;
    height:500px;
}
.dec--bar-sub {
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: 5px;
}
#bar {
    width:15px;
    height: 2px;
    background-color: #777;
    margin: 5px;
}
.button.preco {
    background-color: #333;
}
.button.active {
    background-color: #b28756;
}
.slide--bar .button.preco:hover {
    background-color: #b28756;
}
#titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.section-title--bar {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
.section-desc--bar {
    color: #b8b6b6;
    font-size: 12px;
    font-weight: 600;
}

.section-projects--livro {
    display: flex;
    /* justify-content: center; */
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    
    
}
.img--livro {
    display: flex;
    justify-content: center;
    width: 500px;
    

}
.conteudos--livros {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    padding: 20px;
   
}
.conteudos--livros p, 
.conteudos--livros h5{
    width: 400px;
    /* color: #b8b6b6; */
    font-size: 12px;
    

}
.conteudos--livros h5 {
    
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
   
}
.conteudos--livros p{
    width: 400px;
    color: #b8b6b6;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 25px;
    
   
}
span {
    font-size: 14px;
    text-transform: uppercase;
    
}
.icns-livros {
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.icns-livros #img1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    height: 100px;
}
.icns-livros #img2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top:40px;
    height: 60px;
    margin-bottom: 20px;
    padding: 5px;
   
}
.icns-livros #img3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    padding: 5px;
}


.section-body .slide-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-body .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-body .pointer.active {
    background-color: #b28756;
}
#flex {
    display: flex;
    justify-content: center;
    width: 100%;
}
.section-service h2 {
    font-size: 30px;
    font-weight: bold;
    color: #b28756;
  
}
.section-service.h2 {
    border: none;
    width: 150px;
}
.base-line {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
#line {
    width: 20px;
    height: 2px;
    background-color: #999;
}