*{
    box-sizing: border-box;
}
body{
    padding:0;
    background-color: rgb(56, 155, 247);
}
fieldset{
    background-color: rgb(63, 248, 248);
    margin-bottom: 20px;
    border: 2px solid rgb(118, 7, 245);
}
legend{
    background-color: rgb(118, 7, 245);
    color: white;
    padding: 5px;
    

}
input[type=text]{
    padding: 10px;
    width: 1000px;
    outline:0;
}
.termoslink{
    text-decoration:none;
    color:black;
}
.termoslink:hover{
    text-decoration: underline;
    color: rgb(118, 7, 245);

}
.botao{
    background-color:rgb(118, 7, 245);
    padding: 10px;
    color: aliceblue;
    border: 2px solid blueviolet;
    border-radius: 50%;
}
.botao:hover{
    background-color:aqua;
    color: black;
}
.conteudo{
    margin: 50px;
    border:2px solid blueviolet;
    border-radius: 5%;
    padding: 20px;
    background-color: rgb(60, 1, 71);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
