p::first-letter {
    font-size: 30px;
    font-weight: bold;
   
}
p::first-line {
    background-color: yellow;
}
/* a seguir esses comandos fazem seleção (o segundo de baixo para cima) */
div:nth-last-child(2){
    /* background-color: blue; */
    width: 100px;
    height: 100px;
}
/* a seguir esses comandos fazem seleção (o segundo de cima para baixo) */
div:nth-child(2){
    /* background-color: blue; */
    width: 100px;
    height: 100px;
}

/* div:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */



