* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    padding: 0px;
    margin: 0px;
}
.container_header {
    display: flex;
    justify-content: flex-end;

}
.menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
} 
nav a {
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    transition: 0.3s;
} 
 a:hover {
    text-decoration: underline;
}
ul , li {
    display: flex;
    align-items: center;   
}
.aps{
    display: flex;
    padding: 5px;
    transition: 0.3s;
    border-radius: 50%;
}
.aps:hover {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: #ebe6e6;
}
#aps{
    display: flex;

    width:30px;
    height:30px;
}
.usuario {
    display: flex;
    width:50px;
    height:50px;
    margin-left: 10px;
    margin-right: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
section {
    display: flex ;
    justify-content: center;
    height: 437px;
    align-items: center;
}
#img  {
    padding: 20px;
}
.form {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.rt {
    display: flex;
    border: 1px solid rgb(170, 166, 166);
    border-radius: 25px;
    padding: 5px;
    transition: 0.3s;
    width: 582px;
    height: 46px;
}
.rt:hover:not(.lupa):not(svg):not(.textarea):not(input) {
    box-shadow: 0px 0px 5px rgb(146, 146, 146);
  }
  .rt a {
    display: flex;
    text-decoration: none;
  }
.pesquisa {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.lupa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.textarea {
    display: flex ;
   
    align-items: center;
    resize: none;
    width: 400px;
    height: 37px;
    display: flex;

}
input {
    display: flex;
    align-items: center;
    width: 450px;
    height: 30px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
 .icons img {
    display: flex;

    width:30px;
    height:30px;
}
.container_footer {
    display: flex;
    flex-wrap: wrap;
    background-color:#e2e3e6;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    
}
.footer01 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 30px;
}
.linha {
    background-color: #a3a3a3;
    width: 100%;
    height: 1px;
}
.footer02{
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    justify-content: space-between;
    width: 100%;
    height: 0px;
}
.area01 {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}
.area01 a {
    text-decoration: none;
    margin-right: 20px;
}
.area01 a:hover {
    text-decoration: underline;
    
}
.area02 {
    display: flex;
}
.area02 a {
    text-decoration: none;
    margin-right: 20px;
}
.area02 a:hover {
    text-decoration: underline; 
} 
.footer02 a {
    color: black;

}
.menuMobile{
    display:none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: #808181;
}
@media (max-width:500px) {
 .container_footer {
    display: flex;
    font-size: 8px;
 }
 .area01, .area02 {
    display: flex;
    flex-direction: column;
    margin: 0px;
 }
 .menuMobile{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
}
@media (max-width:600px) {
   .container_footer {
        display: flex;
        width: 100%;
        font-size: 10px;
        
    }
    .footer02 {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .area01 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    nav ul{
        font-size: 13px;
    }
    .aps {
        display: flex;
        align-items: center;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
    .usuario img {
        width: 40px;
        height: 40px;
    }
    .usuario {
        display: flex;
        align-items: center;
    }
    .pesquisa {
       display: flex;
    }
    .lupa {
        display: flex;
        align-items: center;
    }
    .lupa svg {
        width: 20px;
        height: 20px;
    }
    .rt {
        display: flex;
        padding-bottom: 5px;
        max-width: 400px;
        max-height:30px ;
    }
    .textarea {
        display: flex;
        align-items: flex-start;
    }
    input {
        width: 250px;
        height: 20px;
    }
    .icons {
        display: flex;
        justify-content:space-between ;
    }
    .icons img {
        display: flex;
        margin-left: 10px;
        justify-content: space-between;
        width: 20px;
        height: 20px;
    }
    nav a{
        margin-top: 10px;
    }
    nav .aps {
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
    nav #aps , img {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 10px;
        right: 0;
        width: 15%;
        background-color: white;
       

        
    }
    ul {
 
    }
    .menuMobile{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
}