*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    margin-bottom: 100px;
}
header {
    width: 100%;
    height: 200px;
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}
.logo img {
    display: flex;
    width: 150px;
    height: auto;
}
.menu{
    display: flex;
    align-items: center;
   
}
.linha{
    width: 2px;
    height: 150px;
    background-color: #5c5c5c;
    margin-right: 30px;
}
.linha1{
    width: 2px;
    height: 150px;
    background-color: #5c5c5c;
    margin-left: 30px;
}
.menu ul li a {
    font-family: 'Roboto';
    font-size: 20px;
    color:#aaa5a572;
    text-decoration: none;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
   
    padding: 15px;
    margin-right: 30px;
    text-transform: uppercase;
}
#geral{
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
    
}
.promocao{
    display: flex;
    height: 400px;
    margin-left: 60px;
    flex-direction: column;
}
.promocao p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.promocao #text{
    color: black;
}
#promocao {
    display: flex;
    text-transform: uppercase;
    text-shadow:  5px 5px 10px black;
    align-items: center;
    font-size: 70px;
    width: 500px;
    height: 250px;
    font-family: 'Roboto';
    
}
.bot_promocao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 450px;
    height: 90px;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 40px;
    
}
a{
    text-decoration: none;
    color: white;
}
.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;  
  
}
.div2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;
    width: 100%;
}
#img1{
    width: auto;
    height: 600px;
    border-radius: 10px;
}
#img2{
    width: auto;
    height: 400px;
    border-radius: 10px;
}
.descricao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: rgb(51, 15, 15);
}
.icons {
    display: flex;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;

}
.texto {
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 400px;

}
.titulo{
    display: flex;
    color: aliceblue;
    font-family: Arial;
    font-size: 35px; 
    
    
}
.sub{
    display: flex;
    margin-top: 10px;
    color: aliceblue;
    font-family: Arial;
    font-size: 15px; 
}
.texto p {
    color: aliceblue;
    font-family: Arial;
    font-size: 15px;
}
#container_product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-size: 40px;
    font-family:  'Playfair Display', serif;
}
h1{
    margin: 10px;
}
.div1{
    display: flex;
    align-items: center;
    background-color:black ;
    width: 400px;
    height: 4px;  

}
#container_product2 {
    display: flex;
    margin: 40px;
    justify-content: space-around;
}
#r2 {
    height: 500px;
}
.product_relogio{
    display: flex;
}
.product2 {
    display: flex;
    
}
.relogio {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg , white,#cac8c872);
    box-shadow: 0px 0px 50px #8d8a8a72;
    
}
.preco {
    font-size: 40px;
    font-family:  'Playfair Display', serif;
}
.bot_r {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#969494;
    border-top-left-radius: 50px;
    width: 200px;
    height: 80px;
    align-self: self-end;
}
.meta {
    display: flex;  
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.h1 {
    display: flex;
    line-height: 20px;
    justify-content: center;
}
.h1 h1 {
    font-size: 50px;
}
.h1 h2 {
    font-size: 30px;
    color: #5c5c5c;
}
.geral {
    display: flex;
   flex-direction: column; 
    justify-content: flex-end;
    margin-bottom: 30px;
    width: 400px;
}
.geral2 {
    display: flex;
    align-self: self-end;
   flex-direction: column; 
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 400px;
}
.meta svg {
    margin-top: 20px;
}
.img {
    display: flex;
    margin-top: 20px;
}
#d1 {
    display: flex;
    justify-content: end;
    text-align: end;
    font-size: 20px;
    color: #5c5c5c;
}
#d2 {
    display: flex;
    justify-content: start;
    text-align: start;
    font-size: 20px;
    color: #5c5c5c;
}
#d1 h2,
#d2 h2 {
    font-size: 25px;
    color: black;
    
}
img {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

