*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
header img{
    margin: 20px;
    width: 350px;
    height: auto;
}
.container{
    margin-top:30px;
    margin-bottom:30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height:600px;
}
.geral{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: auto;
    justify-content:space-around;
}
.titule{
    color:black;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
}
input{
    outline: 0;
    border: 1px solid green;
}
.div1{
    display: flex;
    flex-direction: column;
    
    
}
.div2{
    display: flex;
    flex-direction: column;
    
}
.div3{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: auto;
}
h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#text ,#termos{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.text{
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
}
#termos{
    margin-top: 20px;
}
.bot{
    margin-top: 20px;
    background-color: green;
    border: 1px solid black ;
    font-size: 20px;
    font-family: Arial;
    color: white;
    width: 200px;
    padding: 10px;
}