*{
    box-sizing:border-box;
}
body{
    margin: 50px;
    font-size: 17px;
}
p{
    color: blue;
    font-size:17px;
    font-weight:bold;
    font-family:Helvetica, sans-serif;
    text-align: left;
    text-shadow:2px 2px 3px #0e0c0c;
    

}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
    
}