*{
    box-sizing:border-box;
}
body{
    margin: 50px;
    font-size: 17px;
}
p{
    color: rgb(25, 25, 243);
    font-size:30px;
    font-weight:bold;
    font-family: 'Lora', serif;
    text-align: left;
}
h1{
    font-family:'Croissant One', cursiva;
    
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
    
}